<div class="container text-center">
  <h2>Hit Us Up</h2>
  
  <%= form_for "/contacts" do |f| %>
    <%= f.label :name %>
    <%= f.text_field :name %>
    <br>
    
    <%= f.label :email %>
    <%= f.text_field :email %>
    <br>
    
    <%= f.label :comments %>
    <%= f.text_area :comments %>
    <br>
    
    <%= f.submit 'Submit' %>
  <% end %>
  
  <!--<form>-->
  <!--  <label>Name:</label>-->
  <!--  <input type="text">-->
  <!--  <br>-->
  <!--  <label>Email:</label>-->
  <!--  <input type="text">-->
  <!--  <br>-->
  <!--  <label>Comments:</label>-->
  <!--  <input type="text">-->
  <!--  <br>-->
  <!--  <input type="submit">-->
  <!--</form>-->
</div>