<div class="container">
  
  <div class="row">
    <h2 class="text-center">Hit Us Up</h2>
    
    <div class="col-md-4 col-md-offset-4">
      <%= flash[:error]%>
      <div class="well">
        <%= form_for @contact do |f| %>
         <div class="form-group text-center">
            <%= f.label :name %>
            <%= f.text_field :name, class: 'form-control' %>
            <br>
          </div>
            
          <div class="form-group text-center">
            <%= f.label :email %>
            <%= f.text_field :email, class: 'form-control' %>
            <br>
          </div>
          
          <div class="form-group text-center">
            <%= f.label :comments %>
            <%= f.text_area :comments, class: 'form-control' %>
            <br>
          </div>
            
          <div class="form-group text-center">
            <%= f.submit 'submit', class: 'btn btn-warning' %>
          </div>
        <% end %>
      </div>
    </div>
    
  </div>

</div>
  
  <!--<form>-->
  <!--  <label>Name:</label>-->
  <!--  <input type="text">-->
  <!--  <br>-->
  <!--  <label>Email:</label>-->
  <!--  <input type="text">-->
  <!--  <br>-->
  <!--  <label>Comments:</label>-->
  <!--  <input type="text">-->
  <!--  <br>-->
  <!--  <input type="submit">-->
  <!--</form>-->
</div>